body > div {
    background-color: whitesmoke;
}

#orders {
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 0.3em;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    width: 70%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.01);
}

.order {
    margin: 20px 0;
    border-radius: 0.7em;
    border: solid 2px gray;
    height: 200px;
    display: flex;
    align-items: center;
}

.order__info {
    width: 13%;
    margin: 0 20px;
}

.order__info h5{
    font-size: 20px;
    min-width: 120px;
    max-width: 200px;
}

.order__info span {
    color: gray;
    display: inline-block;
    min-width: 120px;
    max-width: 150px;
}

.order img {
    height: 180px;
}

.order__status {
    width: 30%;
    text-align: center;
}

.order__status span{
    color: gray;
}

.order__status p {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.order__date {
    text-align: center;
    width: 40%;
}

.order__date span {
    color: gray;
}

.order__date p {
    font-size: 22px;
    color: orange;
    font-weight: bold;
}